# Data files
*.csv
*.zip
*.txt
*.json
!models/fusion_model_ft.json
!models/eval_results.json
!models/*.pkl
!models/*.h5

# Strictly ignore huge folders
datasets/raw_backups/
datasets/public_datasets/**/*.zip
datasets/public_datasets/**/*.csv

# Allow safe fine-tuning dataset
!real-data/synthetic-sessions.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
